<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILoginService" />
        <binding name="BasicHttpBinding_ISelectService" />
        <binding name="BasicHttpBinding_IFanArtsitService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2518/LoginService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ILoginService" contract="RegistrationServiceReference.ILoginService"
        name="BasicHttpBinding_ILoginService" />
      <endpoint address="http://localhost:1962/SelectService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISelectService" contract="SelectServiceReference.ISelectService"
        name="BasicHttpBinding_ISelectService" />
      <endpoint address="http://localhost:3131/FanArtsitService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFanArtsitService"
        contract="FanArtistServiceReference.IFanArtsitService" name="BasicHttpBinding_IFanArtsitService" />
    </client>
  </system.serviceModel>
</configuration>